<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Contact management</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<h1>Contact management</h1>
	<h2>Add new contact</h2>
	
	<form method="POST">
		<label for="contact">Contact name:</label>
		<input type="text" name="contact" id="contact" required><br><br>
		<label for="handphone">Handphone number:</label>
		<input type="text" name="handphone" id="handphone" required><br><br>
		<label for="email">Email:</label>
		<input type="email" name="email" id="email" required><br><br>
		<input type="submit" value="Add contact">
	</form>	
	<h2>Existing contacts</h2>
	{% if not stuff %}
	<p>Currently u do not have any contacts</p>
	{% else %}
	{% for thing in stuff %}
	<h3>Name: {{ thing["contact"] }}</h3>
	<ul>
		<li>Handphone number: {{ thing["handphone"] }}</li>
		<li>Email: {{ thing["email"] }}</li>
	</ul>
	{% endfor %}
	{% endif %}
	
		
</body>
</html>